body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aqua;
}
#container{
    height: 400px;
    width: 400px;
    margin: 100px auto;
    text-align: center;
    background-color: brown;
    font-size: 15pt;
}
h1{
    background-color: black;
    color: white;
}
