* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #31423d;
}

.container{
    display: flex;
}

#city {
    width: 30%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
    margin-left: 20px;
    margin-right: 10px;
}

#search {
    width: 10%;
    margin-left: 20px;
}

form {
    display: flex;
}

#currentLocation {
    cursor: pointer;
    color: white;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

#weatherIcon {
    width: 50px;
    height: 50px;
}

table tr td li {
    font-size: 15px;
}

.time {
    font-size: 20px;
}

.location {
    width: 30%;
}

.latlon {
    width: 40%;
}

.card-header {
    display: flex;
}

.btn-group{
    margin-left: 40px;
}

.card-body {
    font-size: 15px;
}

.card {
    width: 300px;
    height: 300px;
    margin-left: 10px;
    display: inline-block;
}

#convert {
    cursor: pointer;
    color: white;
    font-size: 30px;
    margin-left: 20px;
}

p{
    font-size: 30px;
}

li{
    list-style: none;
}

img{
    margin-left: 70px;
}

#summary{
    padding-top: 10px;
    text-align: center;
}